
.webDev{
    background: #fad8ff;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: black;
    font-size: 200%;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #f6bffe;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center  ;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;

}

.h5{
    color: black;
    font-size: 30px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.card:hover{
    background-color:rgb(100, 33, 114);
    border: 2px solid;
    cursor: pointer;
}
